In [1]:
book = {}

In [2]:
book['shivansh'] = {'name':'shivansh',
                   'age':20,
                   'class':2}

In [3]:
book['nishant'] = {'name':'nishant',
                   'age':19,
                   'class':2}

In [5]:
book #stroed as disctionary

{'shivansh': {'name': 'shivansh', 'age': 20, 'class': 2},
 'nishant': {'name': 'nishant', 'age': 19, 'class': 2}}

In [6]:
import json

In [7]:
s = json.dumps(book)
s

'{"shivansh": {"name": "shivansh", "age": 20, "class": 2}, "nishant": {"name": "nishant", "age": 19, "class": 2}}'

In [8]:
with open("book.txt" , "w") as f:
    f.write(s)

In [11]:
with open("book.txt" , "r") as f2:
    s2 = f2.read()

In [13]:
s2

'{"shivansh": {"name": "shivansh", "age": 20, "class": 2}, "nishant": {"name": "nishant", "age": 19, "class": 2}}'

In [15]:
book2 = json.loads(s2)
book2

{'shivansh': {'name': 'shivansh', 'age': 20, 'class': 2},
 'nishant': {'name': 'nishant', 'age': 19, 'class': 2}}

In [16]:
book2['shivansh']['age']

20

In [20]:
with open('text1','w') as f:
    f.write("My name is Shivansh")

In [21]:
with open('text1','a') as f:
    f.write("\nI am 20 years old")
    f.write("\nI love soya chaap")

In [22]:
with open('text1','r') as f:
    print(f.read())

My name is Shivansh
I am 20 years old
I love soya chaap

In [24]:
x = int(input('Enter a number :'))
y = int(input('Enter a number :' ))

Enter a number :21
Enter a number :0

In [27]:
try:
    z = x/y
except:
    print("exception occured")
    z = None

print("division is : " , z)

exception occured
division is :  None

In [30]:
class person:
    def __init__(self,name,age,hobby='nothing'):
        self.name = name
        self.age = age
        self.hobby = hobby
    
    def intro(self):
        print("Hello!! My name is {}. I am {} years old. My hobby is {}".format(self.name,self.age,self.hobby))

In [31]:
k = person('kavish',19,'guitar')

In [33]:
k.intro()

Hello!! My name is kavish. I am 19 years old. My hobby is guitar